
/*------------------------- Fonts ---------------------------*/
@font-face {
	font-family: 'bevanregular';
	src: url('../fonts/bevan-webfont.eot');
	src: url('../fonts/bevan-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/bevan-webfont.woff') format('woff'),  url('../fonts/bevan-webfont.ttf') format('truetype'),  url('../fonts/bevan-webfont.svg#bevanregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*------------------------- Layout styles ------------------------*/
body {
	margin:0;
	background:url(../images/bg-body.png) repeat-x left top #003155;
	font-family:Arial, Helvetica, sans-serif;
}


.tlo {
	background:url(../images/bg-background.jpg) no-repeat center top;
}
.strona {
	width:1500px;
	margin:0 auto;
	padding:97px 0 35px;
}
/*------------------------- Nagłówek-------------------------*/

.naglowek {
	background:none #980A0A;
	height:110px;
	padding: 25px 0 0 33px;
}
#logo {
	display: block;
	float:left;
	width: 30px;
	

}
.naglowek ul {
	float:right;
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:9px 33px 0 0;
}
.naglowek ul li:first-child {
	margin:0;
}
.naglowek ul li {
	float:left;
	margin:0 0 0 36px;
}
.naglowek ul li a {
	color:#fbfbf4;
	font-family:bevanregular;
	font-size:18px;
	font-weight:300;
	letter-spacing:.015em;
	line-height:80px;
	text-decoration:none;
	text-transform:uppercase;
}
.naglowek ul li.selected a, .header ul li a:hover {
	color:#ff7500;
}
/*------------------------- Body ---------------------------*/
.body_dom {
	background-color: white;
	margin: 20px 0 12px;
	min-height: 600px;
	padding:12px 10px 10px;
}
#body_dom1 {
	background-color: black;
	margin: 20px 0 12px;
	min-height: 600px;
	padding:12px 10px 10px;
	color: white;
}
#zdjTyt {
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 200px;
    background-color: black;
}
#kickImage {
	width: 30vw;
	float: left;
	margin-right: 100px;
	margin-left: 50px;
}

#piast1Image{
	height: 300px;
	margin-left: 50px;
	padding: 10px;
	background-color: black;
		margin-bottom: 50px;

}
#piast2Image{
	height: 300px;
	margin-left: 130px;
	padding: 10px;
	background-color: black;
	margin-bottom: 50px;

}
#piastlogoImage{
	height: 300px;
	margin-left: 130px;
	margin-right: 50px;
	padding: 10px;
	background-color: black;
	margin-bottom: 50px;

}
.fbImage{
	height: 50px;
	float: left;
	margin-left: 30px;
	margin-top: 25px;
}

.pasek {
	font-family:bevanregular;
	height: 100px;
	background-color: black;
	font-size: 30px;
    color: white;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    line-height: 100px;
    text-align: center;

}
#oMnie{
	margin: 50px;
	background-color: black;
	height: 500px;
	padding-top: 50px;
	
}
#jaImage {
	width: 17vw;
	float: left;
	margin: 50px;
}
.paragraf{
	color: white;
	font-size: 28px;
	margin-right: 50px; 
}
#druzynaImage {
	width: 900px;
	display: block;
	margin: 50px auto;
	padding-bottom: 20px;
}
#druzynadiv {
    background-color: black;
	margin: 50px;
}
#tekstpiastunki {
	background-color: black;
	color: white;
	margin: 50px;
	font-size: 30px;
	padding: 50px;
}
h2 {
	text-align: center;
}
h1 {
	text-align: center;
	margin-top: 20px;
	font-size: 50px;
	font-family:bevanregular;
}
#tabela{
	display: block;
	float: left;
	height: 500px;
}
.seTab {
	margin: 50px;
}
#strzelce {
	height: 500px;
	display: block;
	float: right;
}
/*------------Galeria------------------*/
.gallery {
    width:610px;
    margin:80px auto;
    background-color: black;
}
.gallery a {
    display:inline-block;
    height:150px;
    position:relative;
    width:200px;
}
.gallery a img {
    border:5px solid #fff;
    cursor:pointer;
    display:block;
    height:100%;
    left:0px;
    position:absolute;
    top:0px;
    width:100%;
    z-index:1;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition-property:width, height, top, bottom, left, right, z-index, border;
    -webkit-transition-duration:0.5s;
    -moz-transition-property:width, height, top, bottom, left, right, z-index, border;
    -moz-transition-duration:0.5s;
    -o-transition-property:width, height, top, bottom, left, right, z-index, border;
    -o-transition-duration:0.5s;
    transition-property:width, height, top, bottom, left, right, z-index, border;
    transition-duration:0.5s;
}
.gallery a:focus img {
    border:15px solid #fff;
    cursor:default;
    height:250%;
    position:absolute;
    width:250%;
    z-index:25;


    box-shadow:1px 1px 5px #888;
    -moz-box-shadow:1px 1px 5px #888;
    -webkit-box-shadow:1px 1px 5px #888;
    -webkit-transition-property:width, height, top, bottom, left, right, z-index, border;
    -webkit-transition-duration:0.5s;
    -moz-transition-property:width, height, top, bottom, left, right, z-index, border;
    -moz-transition-duration:0.5s;
    -o-transition-property:width, height, top, bottom, left, right, z-index, border;
    -o-transition-duration:0.5s;
    transition-property:width, height, top, bottom, left, right, z-index, border;
    transition-duration:0.5s;
}
 


.gallery a:focus:nth-child(3n+1) img {
left:150px;
}
.gallery a:focus:nth-child(3n+2) img {
    left:-50px;
}
.gallery a:focus:nth-child(3n+3) img {
    left:-250px;
}
.gallery a:focus:nth-child(-n+3) img {
    top:140px;
}
.gallery a:focus:nth-child(n+7) img {
    top:-150px;
}
.gallery a:focus:nth-child(n+10) img {
    top:-295px;
}

.gallery .close {
    background:transparent;
    cursor:pointer;
    display:none;
    height:352px;
    left:170px;
    position:absolute;
    top:160px;
    width:500px;
    z-index:30;
}
.gallery a:focus ~ .close {
    display:block;
}
/*-----------Stopka---------------*/
.stopka{
	font-family:bevanregular;
	height: 70px;
	background-color: #980A0A;
	line-height: 70px;
	font-size: 24px;
    color: white;
    text-align: center;


</body>
</html>